body{
    margin: 0;
    padding: 0;
}
*{
    box-sizing: border-box;
}
h1, h2{
    text-align: center;
}
section{
    margin-top: 25px;
}
.wrapper{
    margin: 0 auto;
    width: 80%;
}
.user_post{
    margin: 0 auto;
    width: 350px;
}
form input, form textarea{
    width: 100%;
    font-size: 24px;
    margin-bottom: 10px;
}
.date{
    font-size: 14px;
}
.message{
    color: #ff0000;
}